<!-- <textarea [(ngModel)]="textareaValue"></textarea>

<select [(ngModel)]="selectedStartValue" (ngModelChange)="setSecondDropdown()">
  <option value="">Select Start Value</option>
  <option *ngFor="let option of startDropdownValues" [value]="option">{{ option }}</option>
</select>

<select [(ngModel)]="selectedSecondValue">
  <option value="">Select Second Value</option>
  <option *ngFor="let option of secondDropdownValues" [value]="option">{{ option }}</option>
</select>

<button (click)="convertTextAreaValue()">Convert</button> -->

<textarea [(ngModel)]="textareaValue"></textarea>

<select [(ngModel)]="selectedStartValue" (ngModelChange)="setSecondDropdown()">
  <option value="">Select Start Value</option>
  <option *ngFor="let option of startDropdownValues" [value]="option">{{ option }}</option>
</select>

<div *ngIf="selectedStartValue !== ''">
  <select [(ngModel)]="selectedSecondValue">
    <option value="">Select Second Value</option>
    <option *ngFor="let option of secondDropdownValues" [value]="option">{{ option }}</option>
  </select>
</div>

<button (click)="convertTextAreaValue()">Convert</button>


























